*{
    box-sizing: border-box;
    margin: 0;
 }
 .pageborder{
    border:3px solid #1abc9c;
 }
 .header {
    background-image: url(/img/heder.jpg);
    background-repeat:no-repeat;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Macondo', cursive;
  }
 .topnav {
    overflow: hidden;
    background-color: whitesmoke;
    border-bottom: 3px solid #1abc9c;
    border-top: 3px solid #1abc9c;
 }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .topnav a:hover {
    background-color: gray;
    
  }
  .bgcolor{
      background-color: #1abc9c81;
  }
  .secondnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .secondnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    border: 1px dashed #333;
    float: left;  
  }
  .secondnav li a:hover {
    background-color: whitesmoke;
  }
   h1{
      text-align: center;
  }
  h2{
      text-align: center;
  } 
  
footer {
    overflow: hidden;
    background-color: whitesmoke;
    border-top: 3px solid #1abc9c;    
}

footer a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
footer a:hover
 {
    background-color: gray;
}