*{
    box-sizing: border-box;
    margin: 0;
 }
 .pageborder{
    border:3px solid #1abc9c;
 }
 .header {
    background-image: url(/img/heder.jpg);
    background-repeat:no-repeat;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Macondo', cursive;
  }
 .topnav {
    overflow: hidden;
    background-color: whitesmoke;
    border-bottom: 3px solid #1abc9c;
    border-top: 3px solid #1abc9c;
 }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .topnav a:hover {
    background-color: gray;
    
  }
  .background {
    width: 100%;
    height: 480px;
    background-image: url(/img/pngtree-flat-cartoon-training-learning-banner-image_258203.jpg);
    background-repeat: no-repeat;
  }
  h1{
      text-align: center;
  }
.one{
    padding-left: 50px;
}
.one img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.two{
    padding-left:60px;
}
.two img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.three{
    padding-left: 60px;
}
.three img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.four{
    padding-left: 60px;
}
.four img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.five{
    padding-left: 60px;
}
.five img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.six{
    padding-left: 60px;
}
.six img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seven{
    padding-left: 50px;
}
.seven img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eight{
    padding-left: 60px;
}
.eight img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nine{
    padding-left: 60px;
}
.nine img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ten{
    padding-left: 60px;
}
.ten img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eleven{
    padding-left: 60px;
}
.eleven img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.twelve{
    padding-left: 60px;
}
.twelve img{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  
  
footer {
    overflow: hidden;
    background-color: whitesmoke;
    border-top: 3px solid #1abc9c;    
}

footer a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
footer a:hover
 {
    background-color: gray;
}